#head{
    background-color: rgb(179, 37, 37);
}
#nav{
    background-color: #057070;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-right: 15px;
}
#content{
    background-color:#030414f5;
    display: inline-block;
    width: 65%;
}
a{
    color: rgb(105, 240, 195);
}
#footer{
    background-color: #575454;
}
body{
    background-color: #06215c;
}
div{
    border-radius: 15px;
    color:white;
    padding: 15px;
}
h1,h3{
    margin: 0px;
}
p{
    margin:8px 0px 8px 0px;
}
ul{
    padding-left: 20px;
    margin: 0px;
}



